USE [master]
GO
/****** Object:  Database [DBTemp]    Script Date: 19/11/2020 2:52:20 ******/
CREATE DATABASE [DBTemp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBTemp', FILENAME = N'D:\Model\Datos\DBTemp.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBTemp_log', FILENAME = N'D:\Model\Logs\DBTemp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTemp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTemp]
GO
/****** Object:  Table [dbo].[TTemp]    Script Date: 19/11/2020 2:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTemp](
	[Id] [int] NULL,
	[Estado] [nchar](20) NULL,
	[MontoBruto] [decimal](18, 2) NULL,
	[Monto] [decimal](18, 2) NULL,
	[MedioPago] [nchar](10) NULL,
	[Fecha] [varchar](50) NULL,
	[IdComercio] [uniqueidentifier] NULL,
	[Informacion] [varchar](50) NULL,
	[FechaLiquidacion] [varbinary](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
